@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B');
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://wallpapercave.com/wp/wp2301562.jpg')no-repeat;
    background-size: cover;
    overflow: hidden;
}

header {
    
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    user-select: none;
}
.LogoAS{
    height: 6rem;
  }
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleY(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.imagelogo {
    position: absolute;
    top: 20;
    left: 50%;
    transform: translate(-50%);
}

.searchbox {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background: transparent;
    backdrop-filter: blur(20px);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
    font-family: 'Open Sans';
}

::-webkit-input-placeholder {
    color: white;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.searchbox:hover>.search-btn {
    background: black;
    transition: .5s;
}


@media(max-width :1500px) {
    .searchbox {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        background: transparent;
        backdrop-filter: blur(20px);
        height: 40px;
        padding: 10px;
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* Produtos */

.product {
    padding-top: 200px;
    position: relative;
    width: 100vw;
}

.product-category {
    padding: 0 10vw;
    width: 10vw;
    top:-100px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #fff;
}

.product-container {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  
}
.scroller{
    padding-bottom: 100px;
    height: 80vh;
    width: 100vw;
    overflow: scroll;
    padding-left: 210px;
    border-radius: 20px;
    
}
.product-card {
    border-radius: 5px;
    flex: 0 0 auto;
    width: 250px;
    height: 435px;
    margin-right: 40px;
}
.scroller::-webkit-scrollbar {
    display: none;
    width: 0px;
}
.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    align-content: space-between;
    display:flex;
    border-radius: 5px;
}
.product-image img{
    object-fit: cover;
    width: 100%;
}
.product-thumb{
    border-radius: 5px;
    object-fit:cover ;
    background-size: cover;
}
.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: crimson;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 52%;
    transform: translateX(-52%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: crimson;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 133px;
    padding-top: 10px;
    color: #fff;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 1;
    text-transform: capitalize;
    margin: 5px 0;
    color: #fff;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
    color: rgb(146, 243, 0);
    text-shadow: 1.5px 1.5px 1.5px black;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 1;
    text-decoration: line-through;
    color: red;
    text-shadow: 1.5px 1.5px 1.5px black;
  }
